---
import GithubButton from "@/components/widgets/GithubButton.astro";
---

<footer class="flex-none p-5">
	<div class="flex flex-col gap-2">
		<p class="text-center">
			Widescreen Fixes Pack - Plugins to make or improve widescreen
			resolutions support in PC games, add more features and fix bugs
		</p>
		<div
			class="flex flex-row flex-wrap gap-2 align-middle justify-center text-center text-black"
		>
			<GithubButton
				href="https://github.com/ThirteenAG/WidescreenFixesPack"
				data-icon="octicon-star"
				data-size="large"
				data-show-count="true"
				aria-label="Star ThirteenAG/WidescreenFixesPack on GitHub"
			>
				Star
			</GithubButton>

			<GithubButton
				href="https://github.com/ThirteenAG"
				data-size="large"
				data-show-count="false"
				aria-label="Follow @ThirteenAG on GitHub"
			>
				Follow
			</GithubButton>
			<GithubButton
				href="https://github.com/ThirteenAG/WidescreenFixesPack/subscription"
				data-icon="octicon-eye"
				data-size="large"
				data-show-count="false"
				aria-label="Watch ThirteenAG/WidescreenFixesPack on GitHub"
			>
				Watch
			</GithubButton>
			<GithubButton
				href="https://github.com/ThirteenAG/WidescreenFixesPack/fork"
				data-icon="octicon-repo-forked"
				data-size="large"
				data-show-count="false"
				aria-label="Fork ThirteenAG/WidescreenFixesPack on GitHub"
			>
				Fork
			</GithubButton>
			<GithubButton
				href="https://github.com/ThirteenAG/WidescreenFixesPack/issues"
				data-icon="octicon-issue-opened"
				data-size="large"
				data-show-count="false"
				aria-label="Issue ThirteenAG/WidescreenFixesPack on GitHub"
			>
				Issue
			</GithubButton>
			<GithubButton
				href="https://github.com/ThirteenAG/WidescreenFixesPack/archive/master.zip"
				data-icon="octicon-cloud-download"
				data-size="large"
				aria-label="Download ThirteenAG/WidescreenFixesPack on GitHub"
			>
				Download
			</GithubButton>
		</div>
		<p class="text-center text-sm">
			The software is provided "as is", without warranty of any kind,
			express or implied, including but not limited to the warranties of
			merchantability, fitness for a particular purpose and
			noninfringement.
		</p>
		<p class="text-center text-sm">
			In no event shall the authors or copyright holders be liable for any
			claim, damages or other liability, whether in an action of contract,
			tort or otherwise, arising from, out of or in connection with the
			software or the use or other dealings in the software.
		</p>
	</div>
</footer>
