---
import LogoSvg from "@/assets/icons/wfp.svg";
import Sponsors from "./Sponsors.astro";
import { Icon } from "astro-icon/components";
import {
	Dropdown,
	DropdownContent,
	DropdownItem,
	DropdownLabel,
	DropdownSeparator,
	DropdownTrigger,
} from "@/components/starwind/dropdown";
import Button from "@/components/starwind/button";
import MenuIcon from "@tabler/icons/outline/menu.svg";
---

<header id="top" class="flex-none bg-black text-white w-full h-[50px] text-sm">
	<nav role="navigation" class="flex flex-row align-middle h-full">
		<div class="flex-none flex items-center justify-center">
			<a href="/wfp/" class="hover:bg-white px-2">
				<LogoSvg class="w-[250px] h-[50px] object-contain" />
			</a>
		</div>

		<!-- Navbar -->
		<div class="flex-auto hidden lg:flex flex-row align-middle">
			<a
				href="https://github.com/ThirteenAG/WidescreenFixesPack"
				target="_blank"
				class="hover:bg-white px-2 hover:text-black flex-none h-full flex items-center gap-1"
			>
				<Icon name="github" class="h-4 w-4 fill-current" />
				Github
			</a>

			<a
				href="https://github.com/ThirteenAG/WidescreenFixesPack/issues"
				target="_blank"
				class="hover:bg-white px-2 hover:text-black flex-none h-full flex items-center gap-1"
			>
				<Icon name="github-issue" class="h-4 w-4 fill-current" />
				Report an issue
			</a>
		</div>

		<Sponsors class="flex-none hidden lg:flex" />

		<!-- Collapsed -->

		<div class="flex lg:hidden flex-auto justify-end">
			<Dropdown>
				<DropdownTrigger asChild>
					<Button size="icon"
						><MenuIcon class="fill-current" /></Button
					>
				</DropdownTrigger>
				<DropdownContent class="min-w-[15rem]">
					<DropdownItem
						><Icon name="github" class="h-4 w-4 fill-current" /><a
							>Github</a
						></DropdownItem
					>
					<DropdownItem
						><Icon
							name="github-issue"
							class="h-4 w-4 fill-current"
						/><a>Report an issue</a></DropdownItem
					>
					<DropdownSeparator />
					<DropdownLabel>Sponsors</DropdownLabel>
					<Sponsors type="dropdown" />
					<DropdownSeparator />
				</DropdownContent>
			</Dropdown>
		</div>
	</nav>
</header>
