@media (max-width: 1700px) {

    .block_text h2 {
        font-size: 6.5rem;
    }

}

@media (max-width: 1400px) {

    .block_text h2 {
        font-size: 5.5rem;
    }

    .block_text h3 {
        font-size: 2rem;
        margin-bottom: 80px;
    }

    .image-comparison-wrapper .comparison-container {
        height: 540px;
    }

    #sidebar {
        width: 68%;
    }

}

@media (max-width: 1100px) {

    .block_image.image_1 {
        height: 400px;
        margin-bottom: 100px;
    }

    .block_text.container_text_block .images .image_3 {
        height: 300px;
        margin-top: 820px;
    }

    .block_text.container_text_block .image_1 {
        height: 300px;
        margin-top: 100px;
    }

    .hero-2-container h3 {
        font-size: 3.5rem;
        margin-bottom: 36px;
    }

}

@media (max-width: 900px) {

    .block_text.container_text_block .images .image_5 {
        height: auto;
        top: 0px;
        left: 0px;
        position: relative;
        width: 100%;
    }

    .block_text.container_text_block .image_7 {
        height: auto;
        position: relative;
        width: 100%;
        top: 0px;
        left: 0px;
    }

    .block_text.container_text_block .image_6 {
        height: auto;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .block_full_margin_1 {
        margin-bottom: 50px;
    }

    .container {
        overflow: hidden;
    }

    body {
        padding: 8px;
    }

    .character-text {
        max-width: 100%;
    }

    .hero-2-container p {
        max-width: 100%;
        font-size: 22px;
    }

    .hero-2-container h3 {
        font-size: 40px;
        margin-bottom: 40px;
    }

    .block_image.image_1 {
        height: 280px;
        margin-bottom: 40px;
    }

    .block_text h2 {
        font-size: 40px;
        letter-spacing: -3px;
        margin-bottom: 40px;
    }

    .block_text h3 {
        font-size: 26px;
        margin-bottom: 40px;
    }

    .block_text.container_text_block .images {
        max-width: 100%;
        margin-bottom: 20px;
    }

    .block_text.container_text_block .images .image_2,
    .block_text.container_text_block .images .image_3 {
        height: 300px;
        position: relative;
        margin-top: 0px;
    }

    .block_text.container_text_block .image_1 {
        margin-bottom: 20px;
    }

    .character-section.character_style_2 .images .image_2 {
        width: 100%;
        margin-bottom: 20px;
        left: 0px;
        margin-top: 20px;
    }

    .character-section.character_style_2 {
        flex-flow: wrap-reverse;
    }

    .image-comparison-wrapper .comparison-container {
        height: 237px;
    }

    #sidebar {
        width: 100%;
        padding: 20px;
        padding-top: 59px;
        box-sizing: border-box;
    }

    #sidebar .tab-list {
        display: block;
    }

    .hamburger {
        top: 4%;
    }

    #sidebar a {
        font-size: 19px;
        line-height: 24px;
    }

    #sidebar .tab-list li span {
        padding: 12px 20px;
    }

    #sidebar .tab-list {
        margin-bottom: 20px;
    }

    .image-comparison-wrapper {
        margin-top: 20px;
    }

    .block_text.container_text_block .images .image_8 {
        margin-top: 20px;
        height: 189px;
    }

    #sidebar li {
        margin-bottom: 0px;
    }

    .comparison-full-image .arrow_modal {
        display: none;
    }

    .hero-main-logo {
        display: none;
        width: 100%;
        height: auto;
        top: 14%;
        left: 0px;
        right: 0px;
        margin-left: auto;
        margin-right: auto;
    }

    .hero-main-logo_mobile {
        display: block;
    }

}