---
import type { HTMLAttributes } from "astro/types";
import { tv } from "tailwind-variants";

type Props = HTMLAttributes<"p">;

export const dialogDescription = tv({ base: "text-muted-foreground" });

const { class: className, ...rest } = Astro.props;
---

<p class={dialogDescription({ class: className })} data-slot="dialog-description" {...rest}>
  <slot />
</p>
