[submodule "vendor/jquery"]
	path = vendor/jquery
	url = https://github.com/jquery/jquery-dist
[submodule "vendor/bootstrap"]
	path = vendor/bootstrap
	url = https://github.com/twbs/bootstrap
	branch = v4-without-jquery
[submodule "vendor/awesomplete"]
	path = vendor/awesomplete
	url = https://github.com/LeaVerou/awesomplete
	branch = gh-pages
[submodule "vendor/lazyload"]
	path = vendor/lazyload
	url = https://github.com/verlok/lazyload
[submodule "vendor/bootstrap-social"]
	path = vendor/bootstrap-social
	url = https://github.com/lipis/bootstrap-social
	branch = gh-pages
[submodule "vendor/baguetteBox.js"]
	path = vendor/baguetteBox.js
	url = https://github.com/feimosi/baguetteBox.js
[submodule "vendor/github-buttons"]
	path = vendor/github-buttons
	url = https://github.com/ntkme/github-buttons
