@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?gsx7ik');
  src:  url('fonts/icomoon.eot?gsx7ik#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?gsx7ik') format('truetype'),
    url('fonts/icomoon.woff?gsx7ik') format('woff'),
    url('fonts/icomoon.svg?gsx7ik#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-cxbxr:before {
  content: "\e918";
}
.icon-pcsx2:before {
  content: "\e917";
}
.icon-ppsspp:before {
  content: "\e916";
}
.icon-ogxbox:before {
  content: "\e915";
}
.icon-xbox:before {
  content: "\e911";
}
.icon-playstation:before {
  content: "\e910";
}
.icon-gog:before {
  content: "\e901";
}
.icon-gtaforums:before {
  content: "\e902";
}
.icon-file-music1:before {
  content: "\e928";
}
.icon-search2:before {
  content: "\e986";
}
.icon-earth:before {
  content: "\e9ca";
}
.icon-link:before {
  content: "\e9cb";
}
.icon-github:before {
  content: "\eab0";
}
.icon-images:before {
  content: "\e90e";
}
.icon-download:before {
  content: "\e960";
}
.icon-twitch:before {
  content: "\ea9f";
}
.icon-youtube:before {
  content: "\ea9d";
}
.icon-file-music:before {
  content: "\e929";
}
.icon-octiconcheck:before {
  content: "\e912";
}
.icon-octiconinfo:before {
  content: "\e913";
}
.icon-octiconx:before {
  content: "\e914";
}
.icon-origin:before {
  content: "\e90f";
}
.icon-ea:before {
  content: "\e90d";
}
.icon-youtube2:before {
  content: "\e90c";
}
.icon-notes:before {
  content: "\e90b";
}
.icon-ubisoft:before {
  content: "\e909";
}
.icon-mafia-1-hero:before {
  content: "\e90a";
}
.icon-circle:before {
  content: "\e908";
}
.icon-shill:before {
  content: "\e907";
}
.icon-scgoggles:before {
  content: "\e906";
}
.icon-rockstar:before {
  content: "\e905";
}
.icon-steam:before {
  content: "\e904";
}
.icon-github-issue:before {
  content: "\e900";
}
.icon-chevron-down:before {
  content: "\e903";
}
