---
import type { HTMLAttributes } from "astro/types";
import { tv, type VariantProps } from "tailwind-variants";

type Props = HTMLAttributes<"table"> & VariantProps<typeof table>;

export const table = tv({
  base: "w-full caption-bottom text-sm",
});

const { class: className, ...rest } = Astro.props;
---

<div data-slot="table-container" class="relative w-full overflow-x-auto">
  <table data-slot="table" class={table({ class: className })} {...rest} role="table">
    <slot />
  </table>
</div>
