---
import Button from "@/components/starwind/button";
import WFPGameCard from "@/components/ui/wfp/WFPGameCard.astro";
import WFPFooter from "@/components/ui/wfp/WFPFooter.astro";
import WFPHeader from "@/components/ui/wfp/WFPHeader.astro";
import WFPTagButton from "@/components/ui/wfp/WFPTagButton.astro";
import BaseLayout from "@/layouts/BaseLayout.astro";
import { getCollection } from "astro:content";

interface Props {
	tag: string;
}

const { tag } = Astro.props as Props;

const nonGameTags = ["other", "mods", "all"];

const gamesCollection = await getCollection("wfp-games");

const tags = ["all", ...new Set(gamesCollection.map((game) => game.data.tag))];

const games =
	tag === "all"
		? gamesCollection
		: gamesCollection.filter((game) => game.data.tag === tag);

games.sort((a, b) => a.data.title.localeCompare(b.data.title));
---

<BaseLayout
	title="Widescreen Fixes Pack"
	description="Widescreen Fixes Pack - Plugins to make or improve widescreen resolutions support in PC games, add more features and fix bugs"
>
	<WFPHeader />

	<main
		class="flex-auto flex flex-col max-w-2xl lg:max-w-7xl mx-auto p-5 gap-5"
	>
		<div>
			<div
				class="w-full flex flex-row flex-wrap justify-evenly bg-transparent"
			>
				{
					tags
						.filter((t) => !nonGameTags.includes(t))
						.map((t) => (
							<WFPTagButton tag={t} selected={t === tag} />
						))
				}
			</div>
			<div
				class="w-full flex flex-row flex-wrap justify-evenly bg-transparent"
			>
				{
					nonGameTags.map((t) => (
						<WFPTagButton tag={t} selected={t === tag} />
					))
				}
			</div>
		</div>

		{games.map((entry) => <WFPGameCard entry={entry} />)}

		<div class="flex justify-center">
			<Button href="#top" variant="primary">Back to Top</Button>
		</div>
	</main>

	<hr />
	<WFPFooter />
</BaseLayout>

<style>
	body {
		background: #fefefe
			url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="400" height="400" fill-opacity=".03" ><rect x="200" width="200" height="200" /><rect y="200" width="200" height="200" /></svg>');
		background-size: 30px 30px;
		background-position:
			0 0,
			15px 15px;
	}

	body.snow {
		background: #fefefe url("/snowf.svg");
		background-size: auto;
		background-attachment: fixed;
	}
</style>

<script>
	import { SnowStorm } from "@/lib/snowstorm";

	document.addEventListener("DOMContentLoaded", () => {
		var dt = new Date();
		var m = dt.getMonth();
		var d = dt.getDate();

		if ((m == 0 && d <= 2) || (m == 11 && d >= 30)) {
			document.body.classList.add("snow");

			const snow = new SnowStorm({
				followMouse: false,
				useGPU: true,
				excludeMobile: false,
				zIndex: 999,
			});

			snow.start();
		}
	});
</script>
